@model SmartBus.Models.Tarifa

@{
    ViewBag.Title = "Detalles";
}

<h2>Details</h2>

<div>
    <h4>Tarifa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ruta.Origen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ruta.Origen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TarifaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
